.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.logo{
    margin-left: 140px;
    font-size: 30px;
    text-decoration: 3px solid underline;
    font-weight: bold;
    color: rgb(107, 103, 103);
}